<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Frame 4</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<header class="flex_center"><h3>Header</h3></header>
<main>
    <section>
        <div class="content_1 flex_center"><h3>Content - 1</h3></div>
        <div class="content_2 flex_center"><h3>Content - 2</h3></div>
        <div class="content_3 flex_center"><h3>Content - 3</h3></div>
    </section>
    <aside>
        <div class="spam_1 flex_center"><h3>spam - 1</h3></div>
        <div class="spam_2 flex_center"><h3>spam - 2</h3></div>
    </aside>
</main>
<footer class="flex_center"><h3>footer</h3></footer>
</body>
</html>